{% extends "base.html" %}

{% block content %}
<a class="btn" href="/add">+ Adicionar série</a>

<h2>As minhas séries</h2>

{% if series %}
    <div class="grid">
        {% for show in series %}
        <a class="card poster-card" href="/series/{{ show['id'] }}">
            {% if show["poster_url"] %}
                <img src="{{ show['poster_url'] }}" alt="{{ show['title'] }}">
            {% else %}
                <div class="poster-placeholder">📺</div>
            {% endif %}

            <div class="card-content">
                <h3>{{ show["title"] }}</h3>
                <span class="badge">{{ show["status"] }}</span>

                {% if show["rating"] %}
                    <div class="rating">⭐ {{ show["rating"] }}/10</div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
{% else %}
    <p>Ainda não tens séries registadas.</p>
{% endif %}
{% endblock %}