{% extends "base.html" %}

{% block content %}
<a class="btn" href="/add">+ Adicionar série</a>
<form method="GET" class="filters">
    <input
        type="text"
        name="search"
        placeholder="Pesquisar série..."
        value="{{ search }}"
    >

    <select name="status">
        <option value="">Todos</option>
        <option value="quero ver" {% if status == "quero ver" %}selected{% endif %}>
            Quero ver
        </option>
        <option value="a ver" {% if status == "a ver" %}selected{% endif %}>
            A ver
        </option>
        <option value="terminado" {% if status == "terminado" %}selected{% endif %}>
            Terminado
        </option>
    </select>

    <button type="submit">Filtrar</button>
    <a class="btn secondary" href="/">Limpar</a>
</form>
<h2>As minhas séries</h2>

{% if series %}
    <div class="grid">
        {% for show in series %}
        <a class="card poster-card" href="/series/{{ show['id'] }}">
            {% if show["poster_url"] %}
                <img src="{{ show['poster_url'] }}" alt="{{ show['title'] }}">
            {% else %}
                <div class="poster-placeholder">📺</div>
            {% endif %}

            <div class="card-content">
                <h3>{{ show["title"] }}</h3>
                {% if show["favorite"] %}
                    <span class="favorite-star">★</span>
                {% endif %}
                <span class="badge">{{ show["status"] }}</span>

                {% if show["rating"] %}
                    <div class="rating">⭐ {{ show["rating"] }}/10</div>
                {% endif %}
                {% set total = show["total_episodes"] or 0 %}
                {% set watched = show["watched_episodes"] or 0 %}
                {% set progress = ((watched / total) * 100) | int if total > 0 else 0 %}

                {% if total > 0 %}
                    <div class="card-progress-text">
                        {{ watched }}/{{ total }} episódios
                    </div>

                    <div class="progress-wrap small">
                        <div class="progress-bar" style="width: {{ progress }}%;"></div>
                    </div>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
{% else %}
    <p>Ainda não tens séries registadas.</p>
{% endif %}
{% endblock %}