{% extends "base.html" %}

{% block content %}
<h2>{{ show["title"] }}</h2>
{% if show["poster_url"] %}
    <img class="detail-poster" src="{{ show['poster_url'] }}" alt="{{ show['title'] }}">
{% endif %}

{% if show["first_air_date"] %}
    <p><strong>Estreia:</strong> {{ show["first_air_date"] }}</p>
{% endif %}

{% if show["overview"] %}
    <p class="overview">{{ show["overview"] }}</p>
{% endif %}

<p><strong>Status:</strong> {{ show["status"] }}</p>

{% if show["rating"] %}
    <p><strong>Avaliação:</strong> ⭐ {{ show["rating"] }}/10</p>
{% else %}
    <p><strong>Avaliação:</strong> Sem avaliação</p>
{% endif %}

<p>
    <strong>Progresso:</strong>
    {{ watched }}/{{ total }} episódios vistos — {{ progress }}%
</p>
{% if next_episode %}
    <div class="next-episode">
        <h3>Próximo episódio</h3>
        <p>
            T{{ next_episode["season"] }}E{{ next_episode["episode"] }}
            {% if next_episode["title"] %}
                — {{ next_episode["title"] }}
            {% endif %}
        </p>

        <form method="POST" action="/episodes/{{ next_episode['id'] }}/toggle">
            <button type="submit">Marcar como visto</button>
        </form>
    </div>
{% elif total > 0 %}
    <div class="next-episode">
        <h3>🎉 Série em dia!</h3>
        <p>Todos os episódios registados foram vistos.</p>
    </div>
{% endif %}
<hr>

<h3>Importar temporada</h3>

<form method="POST" action="/series/{{ show['id'] }}/import-season">
    <label>Número da temporada</label>
    <input type="number" name="season" min="1" required>

    <button type="submit">Importar episódios</button>
</form>

<hr>

<h3>Episódios</h3>

{% if episodes %}
    <ul>
        {% for ep in episodes %}
            <li>
                {% if ep["watched"] %}
                    ✅
                {% else %}
                    ⬜
                {% endif %}

                T{{ ep["season"] }}E{{ ep["episode"] }}

                {% if ep["title"] %}
                    — {{ ep["title"] }}
                {% endif %}

                <form method="POST" action="/episodes/{{ ep['id'] }}/toggle" style="display:inline;">
                    <button type="submit">
                        {% if ep["watched"] %}
                            ❌
                        {% else %}
                            👁️
                        {% endif %}
                    </button>
                </form>
<!-- 
                <form method="POST" action="/episodes/{{ ep['id'] }}/delete" style="display:inline;">
                    <button type="submit">Apagar</button>
                </form> -->
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Ainda não tens episódios nesta série.</p>
{% endif %}

<hr>

<a href="/series/{{ show['id'] }}/edit">Editar série</a>

<form method="POST" action="/series/{{ show['id'] }}/delete">
    <button type="submit">Apagar série</button>
</form>

<a href="/">Voltar</a>
{% endblock %}